*{
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
}

#logo{
    width: 150px;
    height: 70px;
}

.titulos{
    display: inline-block;
    margin: 25px;
}

.barra_inicio{
    display: inline-block;
    list-style: none;
}